*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box 0px ;
}

body{
    overflow: hidden;
    background-color: hwb(208 3% 62% / 0.379);
}

h2{

    border-right: 4px solid;
    width: 14ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(14), blinking 0.5s infinite
     step-end alternate;
}

@keyframes typing{
 from{
    width: 0px;

 }
}

@keyframes blinking{
    50%{
        border-color: transparent;
    }
    
}


.nav-bar{
    background-attachment: fixed;
    --bg:dark;
    color: white;
    display: flexbox;
    justify-content: flex-end;
    padding: 7px;
    margin: 6px;

}

span{
    color: rgb(12, 41, 134);
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1,h2{

    font-size: 150px;
    font-family: 'Times New Roman', Times, serif;
    color: black;

}


.home-itens-img{
width: 250px;
height: 250px;
border-radius: solid 15px;
padding: 20px;
margin-top: 5px;

}


.home-itens-icons img{
        width: 100px;
        height: 100px;

        transition: width 2s, height 2s, transform 2s;

}

.div#home-itens-icons:hover{
    
        width: 300px;
        height: 300px;
        transform: rotate(180deg);
    
}



.home-itens-icons P{

    background-color: rgb(23, 194, 213);

}
    


footer img{

width: 40px;
height: 20px;
padding: 5px 5px;
margin: 3px;

}

footer img:hover{
    color: rgb(89, 89, 241);
}

footer#link{

background-color: rgba(128, 154, 234, 0.975);
text-align: center;
padding: 3px;
color: black;
}